<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>11894104569-iae595kb17o9vb9394uljt9rbb3lmrft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11894104569-iae595kb17o9vb9394uljt9rbb3lmrft</string>
	<key>API_KEY</key>
	<string>AIzaSyBlLkOBYMIg6qjecnL_XmX1Oaj5KUn3epE</string>
	<key>GCM_SENDER_ID</key>
	<string>11894104569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Whitaker.Anthony.AnthonyWhitakerShowcase</string>
	<key>PROJECT_ID</key>
	<string>anthonywhitakershowcase</string>
	<key>STORAGE_BUCKET</key>
	<string>anthonywhitakershowcase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:11894104569:ios:02415ced96bd24c9</string>
	<key>DATABASE_URL</key>
	<string>https://anthonywhitakershowcase.firebaseio.com</string>
</dict>
</plist>